
ses = dict( # Amazon Simple Email Service (ses)
  smtp_host = 'email-smtp.us-west-2.amazonaws.com',
  smtp_port = '587',
  smtp_user = 'XXXXXXXXXXXXXXXXXXXX',
  smtp_pass = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
  smtp_from = 'karl.rink@nationsinfocorp.com',
)

blacklistsoftware = [ 'Slack', 'Skype'
]


